*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #9a0000;
  --primary-paragraph: #270000;
  --secondary: #00d300;
  --secondary-paragraph: #003500;
  --paragraph: #bfbfbf;
}

body {
  background: rgb(154, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(154, 0, 0, 1) 5%,
    rgba(255, 255, 255, 1) 75%
  );
  height: 100vh;
  padding: 128px 16px 0 16px;
}

.container {
  display: grid;
  gap: 8px;

  a {
    color: black;
    text-decoration: none;
  }

  h3 {
    background-color: var(--paragraph);
    padding: 8px 8px;
    border-radius: 8px;
  }

  h3:hover {
    a {
      color: var(--secondary-paragraph);
    }
  }

  h3:nth-child(1) {
    background-color: var(--secondary);
    padding: 8px 8px;
    margin-bottom: 8px;
    text-align: center;
    color: var(--secondary-paragraph);
  }
}

.back {
  position: absolute;
  top: 8px;
  left: 16px;

  button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      height: 8px;
      width: 16px;
    }
  }

  button:hover {
    scale: 1.1;
  }
}

.app {
  position: relative;

  .app--content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;

    img {
      height: 248px;
      margin-bottom: 8px;
    }

    h3 {
      font-family: "Kanit", sans-serif;
    }

    button {
      background: #ff4742;
      border: 1px solid #ff4742;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
      font-size: 16px;
      font-weight: 800;
      line-height: 16px;
      min-height: 40px;
      outline: 0;
      padding: 12px 14px;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      transition: all 0.25s ease-in-out;
      margin-top: 16px;

      a {
        color: #ffffff;
        text-decoration: none;
      }
    }

    button:hover,
    button:active {
      background-color: initial;
      background-position: 0 0;

      a {
        color: #ff4742;
      }
    }

    button:active {
      opacity: 0.5;
    }
  }
}

.persyaratan {
}
